body {
    background-color: #303841;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F6C90E;
}

#connection {
    display: none;
}

#conBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    margin: 10px auto;
    width: 40%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #3A4750;
    background-color: #F6C90E;
    color: #303841;
    border-radius: 5px;
    outline: none;
}

#id {
    padding: 10px 20px;
    width: 50%;
    border-radius: 30px;
    border: 3px solid #3A4750;
    background-color: #303841;
    color: #F6C90E;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#choose {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#showId {
    display: none;
}

#enterId {
    display: none;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

#enterId button {
    margin: 20px 0px;
}

button:active {
    background-color: #303841;
    color: #F6C90E;
}


table {
    border-collapse: separate;
    border-spacing: 5px;
    table-layout: fixed;
}

td {
    border: 3px solid #3A4750;
    padding: 25px 30px;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    outline: none;
}

#game-board {
    display: none;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.playAgain {
    display: none;
}

#again{
    padding: 10px 20px;
    border: 2px solid #EEEEEE;
    background-color: #303841;
    color: #F6C90E;
    border-radius: 5px;
    outline: none;
}

#again:active {
    background-color: #F6C90E;
    color: #303841;
}